* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: repeat(4, 120px);
  gap: 5px;
}

.i1 {
  grid-column: 1 / span 2; 
  grid-row: 1 / span 2;  
  border: 5px solid #333;
  width: 100%;
  height: 100%;
}

.i2, .i5, .i6 {
  display: none;
}

.i3, .i4, .i7, .i8,
.i9, .i10, .i11, .i12 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #333;
}
